{% extends 'base.html.twig' %}

{% block title %}Список заметок{% endblock %}

{% block body %}

    {% include 'navbar.html.twig' with {'active': 'notes'} %}

    <div class="col-xs-1 mt-2 ml-2 mr-2">

    </div>

{% endblock %}
