{% extends 'base.html.twig' %}

{% block title %}Список заметок{% endblock %}

{% block body %}

    {% include 'navbar.html.twig' with {'active': 'notes'} %}

    <div class="col-lg-3 col-lg-6 mx-auto mt-3 ml-4 mr-5">
        <div class="list-group">
            {% for note in notes %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ note.title }}</h5>
                        <small>{{ note.date|date_modify("+1 day")|date("d.m.Y") }}</small>
                    </div>
                    <p class="mb-1">{{ note.text }}</p>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock %}
