<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Список заметок</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            {% set items =
                [
                    ['notes', 'Заметки', path('notes_page')],
                    ['help', 'Помощь', path('help_page')],
                ]
            %}
            {% for item in items %}
                <li class="nav-item {% if active == item[0] %}active{% endif %}">
                    <a class="nav-link" href="{{ item[2] }}">{{ item[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>